{% extends 'base.html' %}

{% block title %}Cardapio{% endblock title %}

{% block content %}

<table class="table table-dark container">
        <h1 class ='container' style="text-align: center; background-color:rgb(33, 37, 41); color:white; margin-top: 15px;margin-bottom: 0">Cardápio</h1>
        <thead>
          <tr>
            <th scope="col">Dias da Semana</th>
            <th scope="col">Prato Principal</th>
            <th scope="col">Acompanhamento</th>
            <th scope="col">Sobremesa</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Segunda</th>
            
          </tr>
          <tr>
            <th scope="row">Terça</th>
           
          </tr>
          <tr>
            <th scope="row">Quarta</th>
            
          </tr>
          <tr>
            <th scope="row">Quinta</th>
            
            
          </tr>
          <tr>
            <th scope="row">Sexta</th>
            
          </tr>
          <tr>
            <th scope="row">Sábado</th>
            
          </tr>
        </tbody>
</table>

{% endblock content %}