{% extends 'base.html' %}

{% block title %}Cardapio{% endblock title %}

{% block content %}

<table class="table table-dark container">
        <h1 class ='container' style="text-align: center; background-color:rgb(33, 37, 41); color:white; margin-top: 15px;margin-bottom: 0">Cardápio - Almoço</h1>
        <thead>
          <tr>
            <th scope="col">Dias da Semana</th>
            <th scope="col">Prato Principal</th>
            <th scope="col">Acompanhamento</th>
            <th scope="col">Sobremesa</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for obj in object_list %}
            
            {% if obj.data == Mon and obj.periodo == 'A' %}
            <th scope="row">Segunda</th>
                <td>{{obj.cardapio.prato_principal.nome}}</td>
                <td>{{obj.cardapio.acompanhamento.nome}}</td>
                <td>{{obj.cardapio.sobremesa.nome}}</td>
            {% endif %}
            
          </tr>
          <tr>
            {% if obj.data == Tue and obj.periodo == 'A' %}
            <th scope="row">Terça</th>
                <td>{{obj.cardapio.prato_principal.nome}}</td>
                <td>{{obj.cardapio.acompanhamento.nome}}</td>
                <td>{{obj.cardapio.sobremesa.nome}}</td>
            {% endif %}
          </tr>
          <tr>
            {% if obj.data == Wed and obj.periodo == 'A' %}
            <th scope="row">Quarta</th>
                <td>{{obj.cardapio.prato_principal.nome}}</td>
                <td>{{obj.cardapio.acompanhamento.nome}}</td>
                <td>{{obj.cardapio.sobremesa.nome}}</td>
            {% endif %}
          </tr>
          <tr>
            {% if obj.data == Thu and obj.periodo == 'A' %}
            <th scope="row">Quinta</th>
                <td>{{obj.cardapio.prato_principal.nome}}</td>
                <td>{{obj.cardapio.acompanhamento.nome}}</td>
                <td>{{obj.cardapio.sobremesa.nome}}</td>
            {% endif %}
          
          </tr>
          <tr>
            {% if obj.data == Fri and obj.periodo == 'A' %}
            <th scope="row">Sexta</th>
                <td>{{obj.cardapio.prato_principal.nome}}</td>
                <td>{{obj.cardapio.acompanhamento.nome}}</td>
                <td>{{obj.cardapio.sobremesa.nome}}</td>
            {% endif %}
          </tr>
          <tr>
            {% if obj.data == Sat and obj.periodo == 'A' %}
            <th scope="row">Sábado</th>
                <td>{{obj.cardapio.prato_principal.nome}}</td>
                <td>{{obj.cardapio.acompanhamento.nome}}</td>
                <td>{{obj.cardapio.sobremesa.nome}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
</table>

<table class="table table-dark container">
  <h1 class ='container' style="text-align: center; background-color:rgb(33, 37, 41); color:white; margin-top: 15px;margin-bottom: 0">Cardápio - Jantar</h1>
  <thead>
    <tr>
      <th scope="col">Dias da Semana</th>
      <th scope="col">Prato Principal</th>
      <th scope="col">Acompanhamento</th>
      <th scope="col">Sobremesa</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for obj in object_list %}
      
      {% if obj.data == Mon and obj.periodo == 'J' %}
      <th scope="row">Segunda</th>
          <td>{{obj.cardapio.prato_principal.nome}}</td>
          <td>{{obj.cardapio.acompanhamento.nome}}</td>
          <td>{{obj.cardapio.sobremesa.nome}}</td>
      {% endif %}
      
    </tr>
    <tr>
      {% if obj.data == Tue and obj.periodo == 'J' %}
      <th scope="row">Terça</th>
          <td>{{obj.cardapio.prato_principal.nome}}</td>
          <td>{{obj.cardapio.acompanhamento.nome}}</td>
          <td>{{obj.cardapio.sobremesa.nome}}</td>
      {% endif %}
    </tr>
    <tr>
      {% if obj.data == Wed and obj.periodo == 'J' %}
      <th scope="row">Quarta</th>
          <td>{{obj.cardapio.prato_principal.nome}}</td>
          <td>{{obj.cardapio.acompanhamento.nome}}</td>
          <td>{{obj.cardapio.sobremesa.nome}}</td>
      {% endif %}
    </tr>
    <tr>
      {% if obj.data == Thu and obj.periodo == 'J' %}
      <th scope="row">Quinta</th>
          <td>{{obj.cardapio.prato_principal.nome}}</td>
          <td>{{obj.cardapio.acompanhamento.nome}}</td>
          <td>{{obj.cardapio.sobremesa.nome}}</td>
      {% endif %}
    
    </tr>
    <tr>
      {% if obj.data == Fri and obj.periodo == 'J' %}
      <th scope="row">Sexta</th>
          <td>{{obj.cardapio.prato_principal.nome}}</td>
          <td>{{obj.cardapio.acompanhamento.nome}}</td>
          <td>{{obj.cardapio.sobremesa.nome}}</td>
      {% endif %}
    </tr>
    <tr>
      {% if obj.data == Sat and obj.periodo == 'J' %}
      <th scope="row">Sábado</th>
          <td>{{obj.cardapio.prato_principal.nome}}</td>
          <td>{{obj.cardapio.acompanhamento.nome}}</td>
          <td>{{obj.cardapio.sobremesa.nome}}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% for obj in obj_list %}

{% endfor %}

{% endblock content %}