{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="container mt-5">

  <div class="container w-50">
    <form method="POST" class="d-flex flex-column">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Enviar</button>
    </form>

    {% if status == 1 %}
      <div class="alert alert-danger mt-4 text-center" role="alert">
        ERRO: O estudante já foi registrado na refeição atual
      </div>
    {% endif %}
  </div>

</div>
  
    
{% endblock content %}